body {

  margin-left: 486px;
}

.stack {
  width: 400px;
* {

  font-family: 'Droid Serif', serif;
  font-weight: 400px;

}



.container {
  width: 500px;

}

section {
  border: 1px solid #00C6D6;
  font-family: tahoma;
  font-weight: lighter;
}

section h2 {
  color: white;
  margin: 0;
  padding: 10px;
  background-color: #00C6D6;
}

p {
  padding: 30px;
}



.accordion {
  height: 200px;


}
