



body {

  margin-left: 486px;
}


.container {
  width: 600px;

}

section {
  border: 1px solid #00C6D6;
  font-family: tahoma;
  font-weight: lighter;
  transition: 1s ease;
  overflow: hidden;
}

section {
  color: white;
  margin: 0;
  padding: 10px;
  background-color: #00C6D6;
  height: 40px;
}

.first-section {
  height: 242px;
}

h2 {
  height: 35px;
}

h2:hover {
  cursor: pointer;
  background: blue;

}

p {
  padding: 30px;
  height: 100px;
}

section p {
  overflow: auto;
  height: 150px;
  margin: 0;


}

.accordion {
  height: 216px;


}
